/*-------- CORE STYLES --------*/

body {
    width: 100%;
    height: 100%;
    background: #484848;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    align-items: center;
}

#container {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 0.015em;
}

h2 {
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 2em;
    font-weight: bold;
    font-size: 68px;
}

/*-------- SECTION 0 --------*/

#particles {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 56px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 48px;
    }
    h1::after {
        height: 8px;
    }
    h2 {
        font-size: 38px;
    }
}

@media only screen and (max-width: 568px) {
    #intro {
        padding: 0 10px;
    }
    h1 {
        font-size: 30px;
    }
    h1::after {
        height: 6px;
    }
    p {
        font-size: 18px;
    }
    h2 {
        font-size: 24px;
    }
    .btn {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 28px;
    }
    h1::after {
        height: 4px;
    }
    h2 {
        font-size: 22px;
    }
}

/*-------- SECTION A --------*/

#section-a {
    background-color: #A8A8A8;
    height: 100vh;
}

.focuses {
    padding-left: 3em;
    padding-bottom: 3em;
}

.focus-icon {
    color: #00FFFF;
}

.caption {
    font-size: small;
    padding-top: 2em;
    padding-bottom: 3em;
    text-align: center;
    color: #ffffff;
}

.links {
    color: #00FFFF;
}

/*-------- SECTION B --------*/

#section-b {
    background-color: #484848;
    height: 100vh;
}

/*-------- NOT IN USE --------*/

/*@keyframes bounce {*/
/*    0%,*/
/*    60%,*/
/*    100% {*/
/*        transform: translateY(0);*/
/*    }*/
/*    40% {*/
/*        transform: translateY(-8px);*/
/*    }*/
/*}*/
