/*-------- CORE STYLES --------*/

body {
    width: 100%;
    height: 100%;
    background: #484848;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

#particles {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 0.015em;
}

h1::after {
    content: '';
    width: 80px;
    display: block;
    background: #fff;
    height: 10px;
    margin: 30px auto;
    line-height: 1.1;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 70px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 48px;
    }
    h1::after {
        height: 8px;
    }
}

@media only screen and (max-width: 568px) {
    #intro {
        padding: 0 10px;
    }
    h1 {
        font-size: 30px;
    }
    h1::after {
        height: 6px;
    }
    p {
        font-size: 18px;
    }
    .btn {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 28px;
    }
    h1::after {
        height: 4px;
    }
}

/*-------- SECTION 0 --------*/

#section-0 {
    height: 100vh;
    overflow: hidden;
}

#container {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

.name {
    /*color: #00FFFF;*/
}

/*-------- SECTION A --------*/

#section-a {
    background-color: #404040;
    height: 100vh;
}

#section-a .link-bar.links {
    background-color: greenyellow;
}


/*.focus img {*/
/*    display: block;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    max-width: 2000px;*/
/*    padding-left: 25vw;*/
/*    padding-bottom: 25vh;*/
/*    height: auto;*/
/*}*/

/*!*-------- SECTION B --------*!*/

/*.section-b {*/
/*    background-color: #d8ceb9;*/
/*}*/

/*#section-b h1 {*/
/*    padding: 2em 1em;*/
/*    font-size: x-large;*/
/*    text-align: right;*/
/*    font-weight: bold;*/
/*}*/

/*!*-------- SECTION C --------*!*/

/*#section-c {*/
/*    padding: 2em 1em 1em;*/
/*}*/

/*#section-c h1 {*/
/*    padding: 2em 1em;*/
/*    font-size: x-large;*/
/*    text-align: left;*/
/*    font-weight: bold;*/
/*}*/

/*#section-c ul {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*#section-c li {*/
/*    margin-bottom: 1em;*/
/*    background: #fff;*/
/*    color: #333;*/
/*}*/

/*.project-contents {*/
/*    padding: 1.5em;*/
/*}*/

/*!*-------- OTHER --------*!*/

/*@media (min-width: 700px) {*/
/*    .grid {*/
/*        display: grid;*/
/*        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;*/
/*    }*/
/*}*/

/*#section-c ul {*/
/*    grid-column: 2/4;*/
/*}*/

/*#section-c ul {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/

/*#section-c li {*/
/*    width: 31%;*/
/*}*/

/*-------- NOT IN USE --------*/

/*@keyframes bounce {*/
/*    0%,*/
/*    60%,*/
/*    100% {*/
/*        transform: translateY(0);*/
/*    }*/
/*    40% {*/
/*        transform: translateY(-8px);*/
/*    }*/
/*}*/
