/*-------- CORE STYLES --------*/

body {
    font-family: 'Alatsi', sans-serif;
    margin: 0;
    background: black;
    line-height: 1.5;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    height: 100vh;
}

/*-------- SECTION 0 --------*/

#section-0 {
    height: 100vh;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.title {
    font-size: 8vw;
    color: white;
}

canvas {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: center;
}

/*-------- SECTION A --------*/

#section-a {
    background-color: #404040;
    height: 100vh;
}

#section-a .link-bar.links {
    background-color: white;
}

.focus img {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 2000px;
    padding-left: 25vw;
    padding-bottom: 25vh;
    height: auto;
}

/*-------- SECTION B --------*/

.section-b {
    background-color: #d8ceb9;
}

#section-b h1 {
    padding: 2em 1em;
    font-size: x-large;
    text-align: right;
    font-weight: bold;
}

/*-------- SECTION C --------*/

#section-c {
    padding: 2em 1em 1em;
}

#section-c h1 {
    padding: 2em 1em;
    font-size: x-large;
    text-align: left;
    font-weight: bold;
}

#section-c ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-c li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.project-contents {
    padding: 1.5em;
}

/*-------- OTHER --------*/

@media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
}

#section-c ul {
    grid-column: 2/4;
}

#section-c ul {
    display: flex;
    justify-content: space-around;
}

#section-c li {
    width: 31%;
}

/*-------- NOT IN USE --------*/

/*@keyframes bounce {*/
/*    0%,*/
/*    60%,*/
/*    100% {*/
/*        transform: translateY(0);*/
/*    }*/
/*    40% {*/
/*        transform: translateY(-8px);*/
/*    }*/
/*}*/
